/* from demo */
body {
    width: 100vw!important;
}
$menuColor: lightgray;
$menuTextColor: black;

*:focus {
    border: 1px solid #eee      ;
}
.nav-demo {
    //display: flex;
    justify-content: space-around;
    align-items: stretch;
    width: 100%;
    font-family: Verdana;
    background-color: $menuColor;
    position: relative;
    margin: 0px;
    padding: 10px;
    font-size: ms(.5);
   // @include fontSize(1.5);
    z-index: 15;
    ul {
        padding-inline-start: 0px;
        ul {
            list-style: none;
        }
    }

}

.main {
    
    margin: 4rem;
    font-size: ms(.3);
}

 

.accessible-megamenu-panel {
    .demo-menu-block {
        
        @include fontSize(1.5);
        padding:20px;
        
    }
}