/* from megamenu */
.accessible-megamenu {


    label {
        display: none;
    }



    /* a top level navigation item in the mega menu */
    .accessible-megamenu-top-nav-item {
        list-style: none;
        display: inline-block;

        //THIS MUST BE PRESENT FOR THE MENU TO WORK!!!
        &.hover:hover {
            .accessible-megamenu-panel {  
                display: block;
            }
        }


        /* first descendant link within a top level navigation item */
        & > a {
            position: relative;
            display: inline-block;

            padding: 0.5em 1em;
            // margin: 0 0 -1px 0;
            margin: 0px 50px;
            color: $menuTextColor;
            text-decoration: none;



            /* focus/open states of first descendant link within a top level
                navigation item */
            &:focus,
                &.open {
                //border: 1px solid #37ffc4;

            }




            /* open state of first descendant link within a top level
               navigation item */
            &.open {
                background-color: #fff;
                border-bottom: none;
                z-index: 1;
            }


        }

    } //accessible-megamenu-top-nav-item





    /* accessible-megamenu-paneligation panel */
    .accessible-megamenu-panel {
        position: absolute;
        display: none; //set to hide first time
        // top: 80px;

        // left: 20px;
        //margin-top: -1px;
        padding: 0.5em 1em;
        border: 2px solid darkgrey;
        -webkit-box-shadow: 7px 10px 20px 0px rgba(0,0,0,0.35);
        -moz-box-shadow: 7px 10px 20px 0px rgba(0,0,0,0.35);
        box-shadow: 7px 10px 20px 0px rgba(0,0,0,0.35);
        background-color: $menuColor;
        line-height: 35px;
        a {
            text-decoration: none;
            color: $menuTextColor;
        }


        /* accessible-megamenu-paneligation panel open state */
        //THIS MUST BE PRESENT FOR THE MENU TO WORK!!!
        &.open {
            display: block;
        }




    }




}

.skip-to-content-link {
    position:absolute;
    display: block;
    //height: 0px;
    top: -0px;
    // left: -10px;
    font-size: 12px;
    background-color: transparent;
    color: transparent;
    z-index:20;

    &:focus {
        height:40px;   
        padding: 10px;
        background-color: #225FD7;
        color: #dedede;
    }

}